@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: Poppins;
  background: #f4f4f4;
  color: black;
  font-size: 32px;
  font-weight: bold;
}

h1,h2,p{
  font-weight: 40px;
}

a{
  text-decoration: none;
}

button{
  background: #008CBA;
  padding: 12px;
  color: #fff;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 20px;
}

input{
  width: 30%;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 8px;
}

input:focus{
  border: 1px solid rgb(95, 156, 95);
  width: 50%;
}

button:hover{
  opacity: 0.8;
}

li{
  list-style-type: none;
}

.nav{
  background-color: #333;
  height: 70px;
}

.ul{
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav ul li{
  color: #fff;
  list-style-type: none;
  padding: 8px;
  margin: 0 16px;
}

.nav ul li:hover{
  opacity: 0.8;
  border-bottom: 1px solid gainsboro;
}

.nav-products{
  display: flex;
  margin: 4px 8px;
  padding: 12px;
  background: #ebe8e8;
}

.nav-products li {
  padding: 10px;
}

.nav-products li:hover{
  border-bottom: 2px solid #fff;
}